footer{
    
    width: 100%;
    height: auto;
    background-color:#1e1e1e;
    color: white;
    padding: 2rem;
}

.conteiner-footer{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 50px;
}

.col-interior h1{
    font-family: "Cal sans",sans-serif;
    font-size: clamp(20px,2vw,30px);
    margin-bottom: 5px;
    font-weight: 100;
}
.col-interior p{
    font-family: "Open sans",sans-serif;
    font-size: clamp(8px,1vw,18px);
}
#redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

@media screen and (max-width: 720px){
    .conteiner-footer{
        grid-template-columns:repeat(3, 1fr) ;
    }
}

@media screen and (max-width: 720px){
    .conteiner-footer{
        grid-template-columns:repeat(2, 1fr) ;
    }
}

