*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: black;
}

article{
    width: 100%;
    min-height: 80vh;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}
.hole{
    width: 100%;
    height:auto;
}
.subtitulo{
    position: absolute;
    top: 38%;
    left: 0%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.apresent{
    font-size: clamp(4rem, 12vw, 16rem);
    font-family: "Cal Sans", sans-serif;
    color: #fff;
    margin-left: 4%;   
}

.paragrafo{
    position: static;
    font-size: clamp(1.5rem,3vw,3rem);
    font-family:  "Cal Sans", sans-serif;
    color: #fff;
    left: 15%;
    margin-left: 15%;
   
}
.col-apresent{
    position: static;
    flex-direction: row;
    display: flex;
    gap: 20px;
    margin-left: 35%;
    top: 10%;
    
}
.botao-1{
    margin-top: 1%;
    padding: 0.6rem;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: #5e17eb;
    color: #fff;
    border: 1px solid #5e17eb;
    border-radius: 4rem;
    transition: transform .3s ease-in-out;
  
}
.botao-2{
    margin-top: 1%;
    padding: 0.6rem;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #1a1a1a;
    border-radius: 4rem;
    transition: transform .3s ease-in-out;
 

}
.botao-1:hover{
    transform: translateY(-8px);
    border: 1px solid #fff;
  
}
.botao-2:hover{
    transform: translateY(-8px);
    border: 1px solid #5e17eb;
}
a{
    text-decoration: none;
    color: #fff;
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}   
main{
    display: grid;
    width: 85%;
    max-width: 90%;
    height: 80vh;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: row;
    gap: 20px;
    height: auto;
}

.col-card{                     
    position: relative;
    transform-style: preserve-3d;
    transition: transform .7s;
    cursor: pointer;
    box-shadow: 5px 7.5px 10px #5e17eb71;
    border-radius: 0.3rem;
    min-height: 600px;
}
.col-card:hover{
    transform: rotateY(180deg);
}
.card-face{     /* Os dois elementos ficam na mesma div*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ele esconde o lado da trás */
    display: flex;
    align-items:end;
    justify-content: right;
    font-size: clamp(1rem,3vw,2.5rem);
    font-family: "Cal Sans", sans-serif;
    color: #fff;
}
.card-back{
    transform: rotateY(180deg);  /* cmc virado */
    font-size: clamp(8px,5vw,20px);
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-weight: 600;
}
main-2{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 95%;
    min-height:200px;
    height: auto;
}
.col-main-2e{
    width: 50%;
    height: auto;
    min-height: 300px;
    background-image: url(../img/montedemais.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.col-main-2d{
    color: white;
    font-family:  "Cal Sans", sans-serif;
    width: 50%;
    text-align: right;
    font-size: clamp(2rem,6vw,5rem);
}
#foto-um{
    background-image: url(../img/col-img3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#foto-dois{
    background-image: url(../img/col-img2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#foto-tres{
    background-image: url(../img/col-img5.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#foto-quatro{
    background-image: url(../img/col-img6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#foto-cinco{
    background-image: url(../img/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#foto-seis{
    background-image: url(../img/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#foto-sete{
    background-image: url(../img/3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#foto-oito{
    background-image: url(../img/4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 80vh;
    background-color: #050505;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    border-radius: 1rem;
    transition: transform .3s ease-in-out;
    overflow-x: hidden;
    overflow-y: hidden;
}
.col-section{
    font-family: "Open Sans", sans-serif;
    color: #FFF;
    line-height: 2;
}

.col-section_Black{
    font-family: "Open Sans", sans-serif;
    color: #000;
}

.col-section h1{
    font-size:  clamp(1rem,3vw,2rem);
    font-family:  "Cal Sans", sans-serif;
    color: #5e17eb;
    text-align: right;
}

.col-section h2{
    font-size:  clamp(0.5rem,3vw,1rem);

}
.p-section-4{
    font-size:  clamp(0.5rem,3vw,1rem);
}
#sec-um{
    opacity: 0%;
    margin-left: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-family:  "Cal Sans", sans-serif;
    font-size:   clamp(2rem,4vw,3rem);
}
#sec-dois{
    background-image: url(../img/Globo.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 95%;
    border-radius: 100%;
}   
#sec-tres{
    opacity: 0% ;
    margin-left: 2%;
    width: 50%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: right;
}
.sec-tres{
    width: 50%;
    text-align:right;
    margin-right: 5%;

}
section:hover{
    transform: scale(1.03);
}

.Jesus{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.role {
    position: absolute;
    cursor: pointer;
    top: 0%;
    left: 0%;
    opacity: 0%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow-x: hidden;
    z-index: 10;
}
.Img {
    width: 512px;
    height: 512px;
    margin-top: 200px;
    margin-left: 702px;
    overflow-x: hidden;
}


.Bg {
    width: 291px;
    height: 94.4px;
    bottom: 50%;

}

.bgbox{
    justify-self: center;
    justify-content: center;
    max-height: 50vh;
    width: -7%;
    bottom: 50%;
}

.Modo_Claro {
    color: #050505;
    background-color: #fafafa;
}

.Modo_Escuro{
    color: #fafafa;
    background-color: #050505;
}

.paragrafo2{
    position: static;
    font-size: clamp(3rem,6vw,6rem);
    font-family:  "Cal Sans", sans-serif;
    color: #5e17eb;
    left: 15%;
    margin-left: 15%;
    margin-bottom: 10px;
   
}
.uniao_options{
    flex-direction:row;
    text-align: center;
    display:grid;
    grid-template-columns: auto;
}
.box {
    border: #1a1a1a 5px ;
    color: #fafafa;
    background-color: #5e17eb;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    font-family:  "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.Space {
    width: 50%;
    justify-self: center;
}

.paragrafo a:hover {
    text-decoration: underline;
}